.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  display: block;
  flex-shrink: 0;
  text-align: center;
}

p {
  width: 600px;
  font-size: 20px;
  margin: 10px;
  flex-shrink: 0;
}

.grid {
  grid-template-columns: 300px 300px;
  gap: 10px;
  display: grid;
  overflow-y: auto;
}

.grid img {
  height: 100px;
  width: 300px;
}